{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if request.user.is_active %}
	<a href="logout">LogOut</a>
	{% if latest_question_list %}
	    <ul>
	    {% for question in latest_question_list %}
	       <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
{% else %}
	<a href="signup">SignUp</a>
	<a href="login">Login</a>	
{% endif %}	